<!--
   Launch just the lidar
-->

  <launch>
  <!-- Hokuyo LIDAR -->
  <include file="$(find svea_sensors)/launch/transforms.launch" />
  <node pkg="urg_node" type="urg_node" name="Hokyou_lidar">
    <param name="ip_address"    value="192.168.3.11" />
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="true"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.355"/>
    <param name="angle_max" value="2.355"/>
  </node>
</launch>
