<?xml version="1.0"?>
<!--
    Launch default odometry and localization
-->

<launch>
  <!-- Start default odometry -->
  <include file="$(find svea_sensors)/launch/default_odometry.launch" />            
  
  
  <!-- mptr localize -->
  <!--<param name="ini_filename" value="$(find svea_sensors)/params/mrpt/icp_slam.ini"/>-->
  <arg name="map_file"             default="$(find svea_sensors)/maps/floor2.simplemap" />
  <node pkg="mrpt_localization" type="mrpt_localization_node" name="mrpt_localization_node" output="screen">
    <param name="ini_file" value="$(find svea_sensors)/params/mrpt/pf_localization.ini"/> 
    <param name="map_file" value="$(arg map_file)"/> 
    <param name="odom_frame_id" value="odom"/> 
    <param name="global_frame_id" value="map"/> 
    <param name="base_frame_id" value="base_link"/> 
    <param name="map_update_skip" value="20"/> 
    <param name="particlecloud_update_skip" value="1"/> 
    <param name="tf_prefix" value=""/> 
    <param name="debug" value="true"/>
    <param name="gui_mrpt" value="false"/> 
    <param name="sensor_sources" value="/scan"/>
    <!--<remap from="particlecloud" to="/particlecloud"/>-->
  </node>

</launch>
